<footer>

	<div>

		<p class="footerText">Made by <a href="https://discord.com/invite/Pmq8fYcus2">Andrew Zheng</a></p>

		<div class="footerIcons">

			{% if site.medium_username %}
			<a href="https://{{ site.medium_username }}.medium.com" aria-label="Medium profile">
				<span class="fa-stack fa-1x" aria-hidden="true">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-medium-m fa-stack-1x"></i>
				</span>
			</a>
			{% endif %}

			{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}" aria-label="GitHub profile">
				<span class="fa-stack fa-1x" aria-hidden="true">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
			{% endif %}

			{% if site.reddit_username %}
			<a href="https://www.reddit.com/user/{{ site.reddit_username }}" aria-label="Reddit profile">
				<span class="fa-stack fa-1x" aria-hidden="true">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-reddit fa-stack-1x"></i>
				</span>
			</a>
			{% endif %}

			<a href="https://discord.com/users/743230678795288637" aria-label="Discord profile">
				<span class="fa-stack fa-1x" aria-hidden="true">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-discord fa-stack-1x"></i>
				</span>
			</a>

		</div>

	</div>


	<div class="footerLinks">
		{% assign sorted_pages = site.pages | sort:"page_order" %}
		{% for page in sorted_pages %}
		{% unless page.is_hidden %}
		<a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a>
		{% endunless %}
		{% endfor %}
	</div>
</footer>