<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<!--  Essential META Tags -->


	<!-- Primary Meta Tags -->
	<title>Find: Command+F for Camera</title>
	<meta name="title" content="Find: Command+F for Camera">
	<meta name="description"
		content="Find text in real life, fast. Works with books, textbooks, and nutrition labels - anywhere as long as there's text.">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://getfind.app/">
	<meta property="og:title" content="Find: Command+F for Camera">
	<meta property="og:description"
		content="Find text in real life, fast. Works with books, textbooks, and nutrition labels - anywhere as long as there's text.">
	<meta property="og:image"
		content="{{ '/assets/SocialPreview.png' | relative_url }}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://getfind.app/">
	<meta property="twitter:title" content="Find: Command+F for Camera">
	<meta property="twitter:description"
		content="Find text in real life, fast. Works with books, textbooks, and nutrition labels - anywhere as long as there's text.">
	<meta property="twitter:image"
		content="{{ '/assets/SocialPreview.png' | relative_url }}">

	<!--  Non-Essential, But Recommended -->

	<meta property="og:site_name" content="Find app">
	<meta name="twitter:image:alt" content="Find app icon overlaid on picture of mountains">


	<!-- <link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">
	 -->

	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}">
	<link rel="icon" sizes="16x16 32x32 64x64" href="{{ '/assets/favicons/favicon.ico' | relative_url }}">
	<link rel="icon" type="image/png" sizes="196x196" href="{{ '/assets/favicons/favicon-192.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="160x160" href="{{ '/assets/favicons/favicon-160.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicons/favicon-96.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/favicons/favicon-64.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16.png' | relative_url }}">
	<link rel="apple-touch-icon" href="{{ '/assets/favicons/favicon-57.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/favicons/favicon-114.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/favicons/favicon-72.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/favicons/favicon-144.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/favicons/favicon-60.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/favicons/favicon-120.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/favicons/favicon-76.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/favicons/favicon-152.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/favicon-180.png' | relative_url }}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{{ '/assets/favicons/favicon-144.png' | relative_url }}">
	<meta name="msapplication-config" content="{{ '/assets/favicons/browserconfig.xml' | relative_url }}">
	<!-- ****** faviconit.com favicons ****** -->

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
	<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
</head>